/* selector universal */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* selector de etiqueta */
body{
    background-color:#e3d5ca;
    font-family: "Kalnia Glaze", serif;
    font-weight: 400;
    font-style: normal;
}   
p{
    color:#3d405b;
}
/* selector de clase*/
.parrafo1{
    color:#3d405b;
}
.parrafo2{
    color:#3d405b;
}
/* selector de id */
#pasos{
    color:#3d405b;
}
.fotodelanadelrey{
    height: 300px;
    border-radius: 50px;
}
.fotolana{
    border-radius: 50px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}
.menu{
    background-color: #ddb8d2;
    margin: 0px;
}
.menu ul{
    display: flex;
    justify-content: end;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.lana{
    background-image: url("https://image.freepik.com/vector-gratis/fondo-rosa-degradado_3247-333.jpg");
}